config
cozepy
dashscope
Jinja2
librosa
moviepy
numpy
openai
Pillow
pydub
python-dotenv
requests
scenedetect
scipy
scikit-image
SpeechRecognition
webrtcvad
fastapi
uvicorn
python-multipart
PyYAML
opencv-python
playsound
oss2
flask
torch
openai-whisper
